{% extends 'layout.html' %}

{% block title %}LivrUSP{% endblock %}

{% block header %}
{% if user.is_authenticated %}

{% else %}
<p>Você não está logado, faça o login ou cadastre-se!</p>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="card">

  <p>Olá, {{ user.customer.name }}!</p>

  <h3 id="form-title">Busque os livros que deseja comprar!</h3>
  <form action="{% url 'busca' %}" method="get">
    <b>Palavra-chave: </b>
    <input name="q" type="text" placeholder="Título, autor, gênero...">
  </form>
</div>

{% if request.GET.q %}

<ul>
  {% for result in results %}
  <li>
    <h3>Título do livro: {{result.title}} | Autor: {{result.author}}</h3>
    Vendedor: {{result.usuario.customer.name}} | Campus: {{result.usuario.customer.campus}} | Telefone do vendedor: {{result.usuario.customer.phone}}<br>
    <form id='{{result.id}}' action="{% url 'chat' %}" method='post'>
      {% csrf_token %}
      <input type='text' required name='mensagem'>
      <input type='submit' value='Enviar mensagem para o vendedor'>
      <input type='hidden' name='receiver' value='{{ result.usuario.id }}'>
      <input type='hidden' name='livro' value='{{ result.id }}'>
    </form>
  </li>

  {% empty %}

  <p>Nenhum livro encontrado, faça outra busca!</p>

  {% endfor %}

</ul>

{% endif %}

{% endif %}


{% endblock %}