{% extends 'layout.html' %}

{% block title %}LivrUSP{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="card">
 
<p>Olá, {{ user.customer.name }}! Aqui você pode ver suas mensagens, referentes às suas suas compras/vendas, para se comunicar com os
    outros envolvidos e permitir a chegada em um acordo.
</p>
</div>
{% for chat in chats %}
    <div class="card">
 
    <div>
        <h1>{{ chat.0.0.first.livro.title }}</h1>
        <h1>{{ chat.0.0.first.livro.author }}</h1>
        {% for conversa in chat %}
            <div>
                <h3>{{ conversa.0.first.sender.customer.name }}</h3>
                {% for mensagem in conversa.0 %}
                    <p><b>{{ mensagem.sender.customer.name }} enviou em {{ mensagem.date_sent }}:</b></p>
                    <p>{{ mensagem.conteudo }}</p>
                {% endfor %}
                <hr>
                {% for mensagem in conversa.1 %}
                    <p><b>{{ mensagem.sender.customer.name }} enviou em {{ mensagem.date_sent }}:</b></p>
                    <p>{{ mensagem.conteudo }}</p>
                {% endfor %}
                <form action="{% url 'chat' %}" method='post'>
                    {% csrf_token %}
                    <input type='text' required name='mensagem'>
                    <input type='submit' value='Enviar'>
                    <input type='hidden' name='receiver' value='{{ conversa.0.first.sender.id }}'>
                    <input type='hidden' name='livro' value='{{ conversa.0.first.livro.id }}'>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    {% empty %}
    <div class="card">
 
    <p>Nenhuma mensagem :(</p>
    </div>

    

{% endfor %}



{% else %}
<a class="btn btn-primary" href="{% url 'login' %}">Faça o login</a>
<p>É novo por aqui?</p>
<a class="btn btn-primary" href="{% url 'register' %}">Cadastre-se</a>
{% endif %}
{% endblock %}