{% extends 'layout.html' %}

{% block title %}LivrUSP{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Olá {{ user.username }}!</p>

{% for chat in chats %}

    <div>
        <h3>{{ chat.0.livro.title }}</h3>
        {% for conversa in chat %}
            <div>
                <h5>{{ conversa.first.sender.customer.name }}</h5>
                {% for mensagem in conversa.0 %}
                    <p><b>{{ mensagem.sender.customer.name }} enviou em {{ mensagem.date_sent }}:</b></p>
                    <p>{{ mensagem.conteudo }}</p>
                {% endfor %}
                <hr>
                {% for mensagem in conversa.1 %}
                    <p><b>{{ mensagem.sender.customer.name }} enviou em {{ mensagem.date_sent }}:</b></p>
                    <p>{{ mensagem.conteudo }}</p>
                {% endfor %}
                <form action="{% url 'chat' %}" method='post'>
                    {% csrf_token %}
                    <input type='text' required name='mensagem'>
                    <input type='submit' value='Enviar'>
                    <input type='hidden' name='receiver' value='{{ conversa.0.first.sender.id }}'>
                    <input type='hidden' name='livro' value='{{ conversa.0.first.livro.id }}'>
                </form>
            </div>
        {% endfor %}
    </div>

    {% empty %}
    <p>Nenhuma mensagem.</p>

    

{% endfor %}



{% else %}
<a class="btn btn-primary" href="{% url 'login' %}">Faça o login</a>
<p>É novo por aqui?</p>
<a class="btn btn-primary" href="{% url 'register' %}">Cadastre-se</a>
{% endif %}
{% endblock %}