{% extends 'layout.html' %}

{% block title %}LivrUSP{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br>
<div class="d-flex justify-content-center">
  <p>Olá, {{ user.customer.name }}!</p>
</div>


{% else %}
<div class="menu">
  {% block nav-login %}<a href="{% url 'login' %}">Login</a>{% endblock %}
  {% block nav-register %}<a href="{% url 'register' %}">Cadastrar-se</a>{% endblock %}
</div>
{% endif %}


<div class="card">
 
  Bem vindo ao LivrUSP, uma ferramenta de Uspianos para a comunidade USP. Aqui você poderá comprar e vender livros,
  sejam estes acadêmicos
  ou literários, para a troca de conhecimento dentro da comunidade USPIANA, de forma a ajudar os alunos a conseguirem
  materiais didáticos
  assecíveis aos seus cursos e incentivar o intercâmbio de ideias e conhecimentos entres os alunos.  
 
</div>
<div class="card">
  <div class="d-flex justify-content-center">
    Somos um grupo de alunos do sexto semestre de engenharia mecatrônica, realizando um projeto referente à
  discilpina de Sistemas de
  Informações, para aprofundar os conhecimentos adqueridos em sala de aula.
  </div>
</div>




<div class="card">
  <h3>Siga-nos</h3>
  <p>Instagram: @LivrUSP
    Facebook: LivrUSP
  </p>
</div>

</div>
{% endblock %}