{% load static %}

<!DOCTYPE html>
<html>
<link href="{% static 'livrusp/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<header>
  <h1>LivrUSP</h1> {% block header %} {% endblock %}
  {% if user.is_authenticated %}
  {% block nav %}
  
  {% endblock %}
  {% endif %}
</header>

<body>
  {% if user.is_authenticated %}
  <div class="menu">
    {% block nav-home %}<a href="{% url 'home' %}">Home</a>{% endblock %}
    {% block nav-busca %}<a href="{% url 'busca' %}">Buscar Livros</a>{% endblock %}
    {% block nav-venda %}<a href="{% url 'cad_venda' %}">Cadastrar livros para venda</a>{% endblock %}
    {% block nav-compra %}<a href="{% url 'cad_compra' %}">Cadastrar livros para compra</a>{% endblock %}
    {% block nav-chat %}<a href="{% url 'chat' %}">Chat</a>{% endblock %}
    {% block nav-meusvenda %}<a href="{% url 'meus_livros_venda' %}">Meus livros para venda</a>{% endblock %}
    {% block nav-meuscompra %}<a href="{% url 'meus_livros_compra' %}">Meus livros para compra</a>{% endblock %}
    {% block nav-logout %}<a href="{% url 'logout' %}" style="float: right">Logout</a>{% endblock %}
  </div>
  
  {% endif %}
  
  
  <main>
    
    {% block content %}
    
    {% endblock %}
    

  {% if messages %}
  <p class="messages">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
      {% endfor %}
  </p>
  {% endif %}
  <div class="footer">
    <div class="footer1">
      <p>Fale conosco: LivrUSP@usp.br</p>
    </div>
  </div>
  
</body>

</html>