
{% load static %}

<!DOCTYPE html>
<html>
  <link href="{% static 'livrusp/style.css' %}" rel="stylesheet">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<header>
  <h1>LivrUSP</h1> {% block header %} {% endblock %}
</header>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
  </ul>
  {% endif %}

</body>
</html>