{% load static %}

<!DOCTYPE html>
<html>
<link href="{% static 'livrusp/style.css' %}" rel="stylesheet">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<header>
  <h1>LivrUSP</h1> {% block header %} {% endblock %}
  {% if user.is_authenticated %}
  {% block nav %}
  
  {% endblock %}
  {% endif %}
</header>

<body>
  <div class="menu">
    {% block nav-home %}<a href="{% url 'home' %}">Home</a>{% endblock %}
    {% block nav-busca %}<a href="{% url 'busca' %}">Buscar Livros</a>{% endblock %}
    {% block nav-venda %}<a href="{% url 'cad_venda' %}">Cadastrar livros para venda</a>{% endblock %}
    {% block nav-compra %}<a href="{% url 'cad_compra' %}">Cadastrar livros para compra</a>{% endblock %}
    {% block nav-chat %}<a href="{% url 'chat' %}">Chat</a>{% endblock %}
    {% block nav-logout %}<a href="{% url 'logout' %}" style="float: right">Logout</a>{% endblock %}
  </div>
  
  <main>
    
    {% block content %}
    
    {% endblock %}
    

  {% if messages %}
  <p class="messages">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
      {% endfor %}
  </p>
  {% endif %}
  <div class="footer">
    <p>to vendo como q arruma isso ainda calma</p>
  </div>
  
</body>

</html>