{% extends 'layout.html' %}

{% block title %}LivrUSP{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Olá {{ user.customer.name }}!</p>

{% for livro in meus_livros_venda %}

<p>
    {{livro.title}} <br>
    {{livro.author}}<br>
    {{livro.genre}}<br>
    {{livro.field}}<br>
    {{livro.subject}}<br>
    {{livro.price}}
</p>
{% empty %}
<p>Você ainda não cadastrou nenhum livro para venda.</p>


{% endfor %}

{% else %}
<a class="btn btn-primary" href="{% url 'login' %}">Faça o login</a>
<p>É novo por aqui?</p>
<a class="btn btn-primary" href="{% url 'register' %}">Cadastre-se</a>
{% endif %}
{% endblock %}