{% extends 'layout.html' %}

{% block title %}LivrUSP{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="card">
 
<p>Olá, {{ user.customer.name }}! Aqui você pode ver os livros nos quais você tem interesse, de forma a organizá-los para facilitar o acesso a estes
    e permitir uma melhor visualização.
</p>
</div>
{% for livro in meus_livros_compra %}
<div class="card">
 
<p>
    <b>Título:</b> {{livro.title}}<br>
    <b>Autor:</b> {{livro.author}}<br>
    <b>Gênero:</b> {{livro.genre}}<br>
    <b>Área do conhecimento:</b> {{livro.field}}<br>
    <b>Disciplina:</b> {{livro.subject}}
</p>


<form action="{% url 'apagar_livro_compra' %}" method='post'>
    {% csrf_token %}
    <input class="btn btn-danger apagar_compra_btn" type="submit" value="Apagar livro">
    <input type='hidden' name='id' value='{{ livro.id }}'>
</form>

{% empty %}
<div class="card">
 
<p>Você ainda não cadastrou nenhum livro para compra!</p>

</div>
{% endfor %}

{% else %}
<a class="btn btn-primary" href="{% url 'login' %}">Faça o login</a>
<p>É novo por aqui?</p>
<a class="btn btn-primary" href="{% url 'register' %}">Cadastre-se</a>
{% endif %}
{% endblock %}