h1 {
    color: rgb(245, 114, 27);
}
* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}
/* header {
    text-align: center;
    background-color: rgb(238, 238, 247);
    margin: -15px;
    padding: -15px;
    margin-top: 0;
 }*/
header {
    background-color: #4e2828;
    text-align: center;
    padding: 5px;
}

body {
    text-align: center;
    margin: 0px;
}

.menu {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #f2f2f2;
    color: black;
    float:center;
}



.leftcolumn {   
  float: left;
  width: 72%;
}


.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}



.row:after {
    content: "";
    display: table;
    clear: both;
}
  

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
  